<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define GSProductLanguage=1033 ?>
  <?define GSInstallerVersion=200 ?>
  <?define GSCompressedMsi=yes ?>

  <Product
    Id="$(var.GSProductCode)"
    Name="$(var.GSAppName)"
    Language="$(var.GSProductLanguage)"
    Version="$(var.GSAppVersion)"
    Manufacturer="$(var.GSAppVendor)"
    UpgradeCode="$(var.GSProductUpgradeCode)">

    <Package
      Description="$(var.GSAppDescription)"
      Manufacturer="$(var.GSAppVendor)"
      InstallerVersion="$(var.GSInstallerVersion)"
      Compressed="$(var.GSCompressedMsi)"
      Platform="x64"
      InstallScope="perMachine"
    />

    <Media Id="1" Cabinet="Data.cab" EmbedCab="yes" />
    <Icon Id="AppIconId" SourceFile="$(var.GSAppIcon)" />
    <Property Id="ARPPRODUCTICON" Value="AppIconId"/>

    <!-- Standard required root -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id='ProgramFiles64Folder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name="$(var.GSAppName)">
          <Component Id='MainExecutable' Guid="$(var.GSMainExecutableGUID)">
            <File Id="$(var.GSAppName)" Source="$(var.GSApplicationPath)" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>

      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="$(var.GSAppName)" />
      </Directory>

      <!-- Desktop -->
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <!-- Add the shortcut to your installer package -->
    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="ProgramMenuShortcut" Guid="$(var.GSStartMenuShortcutGUID)">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.GSAppName)" Description="$(var.GSAppDescription)" Target="[#$(var.GSAppName)]" Icon="AppIconId" WorkingDirectory="INSTALLDIR"/>
        <RemoveFolder Id="RemoveApplicationShortcut" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Add the shortcut to desktop -->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="$(var.GSDesktopShortcutGUID)">
        <Shortcut Id="DesktopApplicationShortcut" Name="$(var.GSAppName)" Description="$(var.GSAppDescription)" Target="[#$(var.GSAppName)]" Icon="AppIconId" WorkingDirectory="INSTALLDIR"/>
        <RemoveFolder Id="RemoveDesktopShortcut" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

     <!-- Registry operations -->
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegOperations" Guid="*">
        <!-- Reg PatchAssistant2J.JAR -->
        <RegistryValue Root="HKCR"
                       Key="PatchAssistant2J.JAR"
                       Type="string"
                       Value="PatchAssistant2J JAR"/>

        <!-- Default icon -->
        <RegistryValue Root="HKCR"
                       Key="PatchAssistant2J.JAR\DefaultIcon"
                       Type="string"
                       Value="[INSTALLDIR]PatchAssistant2J.exe,0"/>

        <!-- Open command -->
        <RegistryValue Root="HKCR"
                       Key="PatchAssistant2J.JAR\shell\open\command"
                       Type="string"
                       Value="&quot;[INSTALLDIR]PatchAssistant2J.exe&quot; &quot;--target=%1&quot;"/>

        <!-- .jar File association -->
        <RegistryValue Root="HKCR"
                       Key=".jar"
                       Type="string"
                       Value="PatchAssistant2J.JAR"/>

        <!-- .jar Content type -->
        <RegistryValue Root="HKCR"
                       Key=".jar"
                       Name="Content Type"
                       Type="string"
                       Value="application/java-archive"/>

        <!-- File right-click menu -->
        <RegistryValue Root="HKCR"
                       Key="*\shell\PatchAssistant2J"
                       Type="string"
                       Value="PatchAssistant2J"/>

        <RegistryValue Root="HKCR"
                       Key="*\shell\PatchAssistant2J\command"
                       Type="string"
                       Value="&quot;[INSTALLDIR]PatchAssistant2J.exe&quot; &quot;--target=%1&quot;"/>

        <!-- Folder right-click menu -->
        <RegistryValue Root="HKCR"
                       Key="Directory\shell\PatchAssistant2J"
                       Type="string"
                       Value="PatchAssistant2J"/>

        <RegistryValue Root="HKCR"
                       Key="Directory\shell\PatchAssistant2J"
                       Name="Icon"
                       Type="string"
                       Value="[INSTALLDIR]PatchAssistant2J.exe,0"/>

        <RegistryValue Root="HKCR"
                       Key="Directory\shell\PatchAssistant2J\command"
                       Type="string"
                       Value="&quot;[INSTALLDIR]PatchAssistant2J.exe&quot; &quot;--patch=%1&quot;"/>

        <!-- Folder background right-click menu -->
        <RegistryValue Root="HKCR"
                       Key="Directory\Background\shell\PatchAssistant2J"
                       Type="string"
                       Value="PatchAssistant2J"/>

        <RegistryValue Root="HKCR"
                       Key="Directory\Background\shell\PatchAssistant2J"
                       Name="Icon"
                       Type="string"
                       Value="[INSTALLDIR]PatchAssistant2J.exe,0"/>

        <RegistryValue Root="HKCR"
                       Key="Directory\Background\shell\PatchAssistant2J\command"
                       Type="string"
                       Value="&quot;[INSTALLDIR]PatchAssistant2J.exe&quot; &quot;--patch=%V&quot;"/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Files">
      <ComponentRef Id="MainExecutable" />
    </ComponentGroup>

    <ComponentGroup Id="Shortcuts">
      <ComponentRef Id="ProgramMenuShortcut" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="RegOperations" />
    </ComponentGroup>

    <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
      <ComponentGroupRef Id="Files" />
      <ComponentGroupRef Id='Shortcuts' />
    </Feature>

    <!-- UI Dialogs -->
    <UI>
      <!--
        Run WixUI_InstallDir dialog in the default install directory.
      -->
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
      <UIRef Id="WixUI_InstallDir" />

      <?ifndef GSLicenseRtf ?>
        <!--
          No license file provided.
          Override the dialog sequence in built-in dialog set "WixUI_InstallDir"
          to exclude license dialog.
        -->
        <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
        <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
      <?endif?>
    </UI>

    <?ifdef GSLicenseRtf ?>
      <WixVariable Id="WixUILicenseRtf" Value="$(var.GSLicenseRtf)"/>
    <?endif?>
  </Product>
</Wix>